Gets a maximum of 100 tweets per city for a single day and appends them to the database's tweets table

In [10]:
import pandas as pd
import tweepy
from sqlalchemy import create_engine
import time

In [11]:
cities_df = pd.read_csv('cities_data.csv', index_col=0)
cities_df.head()

           City  Latitude  Longitude  Radius
ID
1      New York  40.73061  -73.93524      25
2   Los Angeles  34.05224 -118.24368      30
3       Chicago  41.88183  -87.62318      20
4       Houston  29.74991  -95.35842      25
5       Phoenix  33.44838 -112.07404      20

In [12]:
consumer_key = '------'
consumer_secret = '------'
access_token = '------'
access_token_secret = '------'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [13]:
lat_list = list(cities_df['Latitude'])
long_list = list(cities_df['Longitude'])
rad_list = list(cities_df['Radius'])

geocode_list = []
for i in range(10):
    geocode_list.append(str(lat_list[i]) + ',' + str(long_list[i]) + ',' + str(rad_list[i]) + 'mi')

In [14]:
tweets_data = {
    'full_tweet_id':[],
    'city_id':[],
    'full_text':[],
    'user_location':[],
    'tweet_date':[]
}

for i in range(10):
    #Query returns list of status objects that contain an API object and a JSON object
    statuses = api.search(
        q='@tesla+OR+@teslasupport+-filter:retweets+-ventilators+-$tsla+-ventilator',
        tweet_mode='extended', 
        count=100, 
        lang='en', 
        geocode=geocode_list[i], 
        result_type='recent', 
        until='2020-04-23',
        since_id='1252747844714467328'
    )
    #Getting JSON object out of status object and putting JSON into its own list
    tweets = []
    for status in statuses:
        tweets.append(status._json)
        
    #Getting the attributes we want out of the JSON and appending to tweets_data dictionary
    for tweet in tweets:
        tweets_data['full_tweet_id'].append(tweet['id'])
        tweets_data['city_id'].append(i+1)
        tweets_data['full_text'].append(tweet['full_text'])
        tweets_data['user_location'].append(tweet['user']['location'])
        tweets_data['tweet_date'].append(tweet['created_at'])

In [15]:
api.rate_limit_status()['resources']['search']['/search/tweets']['remaining']

160

In [16]:
df_tweets = pd.DataFrame(tweets_data)
print('Before ' + str(df_tweets.shape))
df_tweets_no_dups = df_tweets.drop_duplicates(subset=['full_tweet_id'])
print('After ' + str(df_tweets_no_dups.shape))
df_tweets_no_dups

Before (113, 5)
After (113, 5)

,full_tweet_id,city_id,full_text,user_location,tweet_date
0,1253102465354010624,1,@thirdrowtesla @SpaceX @Tesla @Erdayastronaut ...,nyc,Wed Apr 22 23:24:43 +0000 2020
1,1253073068144103430,1,Question for @Tesla: Would it be possible to d...,nyc,Wed Apr 22 21:27:55 +0000 2020
2,1253070731400876035,1,"@Tesla @elonmusk In NYC Manhattan, the only pl...",New York City,Wed Apr 22 21:18:37 +0000 2020
3,1253070402701705218,1,"Just in time for #EarthDay, 400 Spectrum Cente...",New York,Wed Apr 22 21:17:19 +0000 2020
4,1253057323045707777,1,@vincent13031925 @karpathy @Tesla Very practic...,"Westchester, NY",Wed Apr 22 20:25:21 +0000 2020
...,...,...,...,...,...
108,1252823386843049984,10,@28delayslater @bonnienorman @marc_benton @eki...,Silicon Valley,Wed Apr 22 04:55:46 +0000 2020
109,1252821225203617793,10,@bonnienorman @28delayslater @marc_benton @eki...,Silicon Valley,Wed Apr 22 04:47:11 +0000 2020
110,1252780673770848256,10,#ICYMI The NYSE FANG+ indexâ€”which comprises @F...,"Silicon Valley, CA",Wed Apr 22 02:06:02 +0000 2020
111,1252775831581016065,10,@CarolineGee8 @tezlectric @elonmusk @Tesla Saa...,"Silicon Valley, CA, US.",Wed Apr 22 01:46:48 +0000 2020
112,1252765368445108224,10,@schmidth1745 @Tesla @elonmusk @thirdrowtesla ...,San Jose,Wed Apr 22 01:05:13 +0000 2020

In [17]:
engine = create_engine('mysql+mysqldb://USERNAME:PASSWORD@HOST/DATABASE?charset=UTF8')

In [18]:
df_tweets_no_dups.to_sql('tweets', engine, if_exists='append', index=False)

C:\Users\jmarf\anaconda3\lib\site-packages\sqlalchemy\dialects\mysql\mysqldb.py:131: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  cursor.execute("SET NAMES %s" % charset_name)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F92'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F91'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09FA4'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F94'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F98'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09FA5'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F90'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F99'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 4")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 5")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 7")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 9")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 13")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x92\\x96\\xF0\\x9F...' for column 'full_text' at row 15")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\x8D\\xF0\\x9F...' for column 'full_text' at row 17")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 22")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 28")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 29")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 30")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 31")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x94\\xAE\\xF0\\x9F...' for column 'full_text' at row 34")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 35")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\x8F' for column 'full_text' at row 36")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\x87\\xF0\\x9F...' for column 'full_text' at row 48")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 49")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 59")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 60")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\x8D\\xF0\\x9F...' for column 'full_text' at row 62")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x82. ...' for column 'full_text' at row 64")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 66")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x82' for column 'full_text' at row 70")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 71")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 72")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\xA5\\xB0' for column 'full_text' at row 74")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x90\\xF0\\x9F...' for column 'full_text' at row 76")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\xA4\\xA9\\xF0\\x9F...' for column 'full_text' at row 77")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x90\\xAE a...' for column 'full_text' at row 78")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x82 \\x0A...' for column 'full_text' at row 87")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 88")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x86 \\xF0...' for column 'full_text' at row 91")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x82' for column 'full_text' at row 94")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x82 Y...' for column 'full_text' at row 95")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x88' for column 'full_text' at row 96")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 100")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 103")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 105")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 106")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 111")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x99\\x8C\\xF0\\x9F...' for column 'full_text' at row 112")
  rows += self.execute(sql + postfix)