In [1]:
from textblob import TextBlob
from sqlalchemy import create_engine
import pandas as pd
import re

In [2]:
engine = create_engine('mysql+mysqldb://USERNAME:PASSWORD@HOST/DATABASE?charset=UTF8')

In [3]:
df = pd.read_sql('select * from tweets;', engine)

C:\Users\jmarf\anaconda3\lib\site-packages\sqlalchemy\dialects\mysql\mysqldb.py:131: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  cursor.execute("SET NAMES %s" % charset_name)

Removing hashtags, mentions, and links from tweets

In [6]:
clean_tweets = []

for i in range(len(df['full_text'])):
    tweet = df['full_text'][i]
    clean_tweet = ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",tweet).split())
    clean_tweets.append(clean_tweet)
    
df['clean_tweet'] = clean_tweets

In [7]:
df.head()

,tweet_id,full_tweet_id,city_id,full_text,user_location,tweet_date,clean_tweet
0,1,1249098537205288960,1,Corgi Didi is my spirit animal during these ti...,"New York, NY",Sat Apr 11 22:14:33 +0000 2020,Corgi Didi is my spirit animal during these ti...
1,2,1249081305712787459,1,@elonmusk @Tesla will we be able to retrofit t...,"Brooklyn, NY",Sat Apr 11 21:06:04 +0000 2020,will we be able to retrofit the heat pump from...
2,3,1249068463282360321,1,@nextmove_de @Tesla Rise in nationalistic prid...,"New York, USA",Sat Apr 11 20:15:02 +0000 2020,de Rise in nationalistic pride When TSLA start...
3,4,1249061669617070080,1,Another @Tesla update and my screen doesn’t tu...,New York,Sat Apr 11 19:48:03 +0000 2020,Another update and my screen doesn t turn on a...
4,5,1249057020298309633,1,@Tesla @elonmusk Love the numerous built-in US...,"New York, NY",Sat Apr 11 19:29:34 +0000 2020,Love the numerous built in USB ports Any chanc...

Get sentiment score for each tweet and add them as a new column in df

In [8]:
sentiment_scores = []

for i in range(len(df['clean_tweet'])):
    tweet = TextBlob(df['clean_tweet'][i])
    sentiment_score = tweet.sentiment.polarity
    sentiment_scores.append(sentiment_score)
    
df['sentiment_score'] = sentiment_scores

In [9]:
df.head()

,tweet_id,full_tweet_id,city_id,full_text,user_location,tweet_date,clean_tweet,sentiment_score
0,1,1249098537205288960,1,Corgi Didi is my spirit animal during these ti...,"New York, NY",Sat Apr 11 22:14:33 +0000 2020,Corgi Didi is my spirit animal during these ti...,0.000000
1,2,1249081305712787459,1,@elonmusk @Tesla will we be able to retrofit t...,"Brooklyn, NY",Sat Apr 11 21:06:04 +0000 2020,will we be able to retrofit the heat pump from...,0.250000
2,3,1249068463282360321,1,@nextmove_de @Tesla Rise in nationalistic prid...,"New York, USA",Sat Apr 11 20:15:02 +0000 2020,de Rise in nationalistic pride When TSLA start...,0.000000
3,4,1249061669617070080,1,Another @Tesla update and my screen doesn’t tu...,New York,Sat Apr 11 19:48:03 +0000 2020,Another update and my screen doesn t turn on a...,0.000000
4,5,1249057020298309633,1,@Tesla @elonmusk Love the numerous built-in US...,"New York, NY",Sat Apr 11 19:29:34 +0000 2020,Love the numerous built in USB ports Any chanc...,0.233333

In [11]:
df.shape

(1546, 8)

In [14]:
#Rearranging df to fit format of db
df = df[['tweet_id', 'full_tweet_id', 'city_id', 'full_text', 'clean_tweet', 'user_location', 'tweet_date', 'sentiment_score']]

In [16]:
df.to_sql('tweets', engine, if_exists='append', index=False)