Gets a maximum of 100 tweets per city for a single day and appends them to the database's tweets table

In [1]:
import pandas as pd
import tweepy
from sqlalchemy import create_engine
import time

In [2]:
cities_df = pd.read_csv('cities_data.csv', index_col=0)
cities_df.head()

           City  Latitude  Longitude  Radius
ID
1      New York  40.73061  -73.93524      25
2   Los Angeles  34.05224 -118.24368      30
3       Chicago  41.88183  -87.62318      20
4       Houston  29.74991  -95.35842      25
5       Phoenix  33.44838 -112.07404      20

In [3]:
consumer_key = 'p2oIgjAg8Q1rxZ2gYESbEWFyV'
consumer_secret = 'p369EDJgRMCet8gMPTe4AuagDkZB00YZw1fkpAJLJNDcUa5f2N'
access_token = '1140770598945038336-6ZQVS3cO5Eg8p7uolMD18VhIIYv4WW'
access_token_secret = 'n0g3TXpHrae5gJzgh083xPkYWGh8yxP0cj7LF4aVDW8I8'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [4]:
lat_list = list(cities_df['Latitude'])
long_list = list(cities_df['Longitude'])
rad_list = list(cities_df['Radius'])

geocode_list = []
for i in range(10):
    geocode_list.append(str(lat_list[i]) + ',' + str(long_list[i]) + ',' + str(rad_list[i]) + 'mi')

In [5]:
tweets_data = {
    'full_tweet_id':[],
    'city_id':[],
    'full_text':[],
    'user_location':[],
    'tweet_date':[]
}

for i in range(10):
    #Query returns list of status objects that contain an API object and a JSON object
    statuses = api.search(
        q='@tesla+OR+@teslasupport+-filter:retweets+-ventilators+-$tsla+-ventilator',
        tweet_mode='extended', 
        count=100, 
        lang='en', 
        geocode=geocode_list[i], 
        result_type='recent', 
        until='2020-04-21',
        since_id='1252022293317943296'
    )
    #Getting JSON object out of status object and putting JSON into its own list
    tweets = []
    for status in statuses:
        tweets.append(status._json)
        
    #Getting the attributes we want out of the JSON and appending to tweets_data dictionary
    for tweet in tweets:
        tweets_data['full_tweet_id'].append(tweet['id'])
        tweets_data['city_id'].append(i+1)
        tweets_data['full_text'].append(tweet['full_text'])
        tweets_data['user_location'].append(tweet['user']['location'])
        tweets_data['tweet_date'].append(tweet['created_at'])

In [6]:
api.rate_limit_status()['resources']['search']['/search/tweets']['remaining']

170

In [7]:
df_tweets = pd.DataFrame(tweets_data)
print('Before ' + str(df_tweets.shape))
df_tweets_no_dups = df_tweets.drop_duplicates(subset=['full_tweet_id'])
print('After ' + str(df_tweets_no_dups.shape))
df_tweets_no_dups

Before (220, 5)
After (220, 5)

,full_tweet_id,city_id,full_text,user_location,tweet_date
0,1252380695248289792,1,Entertainment at low speeds? @Tesla @elonmusk ...,"New York, NY",Mon Apr 20 23:36:40 +0000 2020
1,1252360326621745160,1,@sassal0x He believes demand will fall signifi...,"New York, NY",Mon Apr 20 22:15:44 +0000 2020
2,1252360012468350980,1,Interested in how mining within volcanoes can ...,"New York, NY",Mon Apr 20 22:14:29 +0000 2020
3,1252359469507330048,1,"Do the right thing @Tesla. A prize is a prize,...","New York, USA",Mon Apr 20 22:12:19 +0000 2020
4,1252353648283152388,1,@Tesla @elonmusk u are still manufacturing in ...,"New York, USA",Mon Apr 20 21:49:12 +0000 2020
...,...,...,...,...,...
215,1252088533021364224,10,@elonmusk @Kristennetten @thirdrowtesla @Tesla...,Silicon Valley,Mon Apr 20 04:15:43 +0000 2020
216,1252088275918938112,10,@elonmusk @Kristennetten @thirdrowtesla @Tesla...,Silicon Valley,Mon Apr 20 04:14:42 +0000 2020
217,1252088173099802624,10,@elonmusk @Kristennetten @thirdrowtesla @Tesla...,Silicon Valley,Mon Apr 20 04:14:17 +0000 2020
218,1252088136504467458,10,@elonmusk @Kristennetten @thirdrowtesla @Tesla...,Silicon Valley,Mon Apr 20 04:14:09 +0000 2020
219,1252088091692523522,10,@elonmusk @Kristennetten @thirdrowtesla @Tesla...,Silicon Valley,Mon Apr 20 04:13:58 +0000 2020

In [8]:
engine = create_engine('mysql+mysqldb://admin:sql_2020@lmu-sql.clqgvydstxhb.us-east-1.rds.amazonaws.com/sql_project?charset=UTF8')

In [9]:
df_tweets_no_dups.to_sql('tweets', engine, if_exists='append', index=False)

C:\Users\jmarf\anaconda3\lib\site-packages\sqlalchemy\dialects\mysql\mysqldb.py:131: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  cursor.execute("SET NAMES %s" % charset_name)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F99'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F91'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F98'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F8F'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F92'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F9A'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F94'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09FA4'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F8C'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1300, "Invalid utf8 character string: 'F09F87'")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 3")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x99\\x8F\\xF0\\x9F...' for column 'full_text' at row 7")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\x8D\\xF0\\x9F...' for column 'full_text' at row 18")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 22")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 24")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 25")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 26")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\xB6\\xF0\\x9F...' for column 'full_text' at row 31")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\x89 h...' for column 'full_text' at row 37")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x82\\xF0\\x9F...' for column 'full_text' at row 39")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 50")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x8F\\x8E @...' for column 'full_text' at row 51")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 54")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x92\\xAF\\xF0\\x9F...' for column 'full_text' at row 55")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x8A l...' for column 'full_text' at row 61")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\xB1 C...' for column 'full_text' at row 68")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x83' for column 'full_text' at row 71")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x9A\\x97' for column 'full_text' at row 73")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x94\\xA5 h...' for column 'full_text' at row 78")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 93")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 95")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\xA4\\xA3 #...' for column 'full_text' at row 97")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x9A\\x80 I...' for column 'full_text' at row 99")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\xA4\\xA3' for column 'full_text' at row 100")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 115")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x89' for column 'full_text' at row 117")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 127")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x92\\xAF a...' for column 'full_text' at row 134")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x92\\xAF h...' for column 'full_text' at row 138")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x8C\\x9E m...' for column 'full_text' at row 141")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x8C\\x9E #...' for column 'full_text' at row 142")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 143")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 145")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 152")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 153")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 154")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x99\\x8A' for column 'full_text' at row 156")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\xA4\\x94' for column 'full_text' at row 175")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 176")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\xA4\\xA8\\xF0\\x9F...' for column 'full_text' at row 178")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x94\\xA5\\xF0\\x9F...' for column 'full_text' at row 181")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\x8F' for column 'full_text' at row 187")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1265, "Data truncated for column 'full_text' at row 198")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x92\\x95 h...' for column 'full_text' at row 201")
  rows += self.execute(sql + postfix)
C:\Users\jmarf\anaconda3\lib\site-packages\MySQLdb\cursors.py:322: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\xA4\\xA3\\xF0\\x9F...' for column 'full_text' at row 202")
  rows += self.execute(sql + postfix)